html,body{
    height: 100%;
    background-image: url("images\ \(1\).jfif");
    background-repeat: no-repeat;
    background-size: cover;
}

.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    height: 100%;
}
.container{
 
    height: 50%;
    width: 30%;
    display: grid;
    gap: 1;
    /* padding: 2%; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    position: relative;

}

.sq{
    width: 85%;
    border: 1px solid brown;
    background-color: #eeb1b1;
    /* margin-top: 2px ; */
    padding: 10% 10% 10% 10% ;
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sq:hover{
 background-color: rgb(204, 245, 233);
 cursor: pointer;
}
.btn{   
    padding: 1% 2%;
    border-radius: 10px;
    /* border: 1px solid black; */
    width: 26%;
    margin-top: 1% ;
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
}
.user{
    width: 8vw;
    padding: 1%;
    justify-content: center;
    margin-left: 2%;    
    flex: 1;
    border-radius: 5px;
    background-color: #ffe4c4;
    
}
h1{
    font-weight: bold;
    border: 2px solid rgb(237, 209, 237);
    color:  rgb(237, 209, 237) ;
    background-color: purple;
    border-radius: 10px;
    padding: 4px 10px;
}
.line{
    background-color: red;
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 1s ease-in-out;
    /* margin-left: 50px; */
    /* transform: translate(3vw,12vw) rotate(138deg); */
}
.info{
    font-weight: bold;
    justify-content: center;
    margin: auto;
    font-size: 120%;
    width: 10vw;
    flex: 1;
}
.border-t-l{
    border-radius: 10px 0px 0px 0px;
}
.border-t-r{
    border-radius: 0px 10px 0px 0px;
}
.border-b-r{
    border-radius: 0px 0px 10px 0px;
}
.border-b-l{
    border-radius: 0px 0px 0px 10px;
}
.stop{
    background-color: red;
}
#win-gif{
    display: none;
    transition: width 1s;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  h1 {
    width: 15%;
  }

}